<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div id="app" class="container py-5">
	<div class="w-50 mx-auto">
		<input class="form-control mb-2" type="" name="" placeholder="Ketik sesuatu ..... !" v-model="input">
		<button class="btn btn-sm btn-block btn-primary" @click="newStatus">Kirim</button>

		<br>
		<br>
		<div v-for="(stat, index) in status" :key="index" class="media border p-3 mb-4">
			<img src="https://akcdn.detik.net.id/visual/2018/09/19/db79428d-d18d-42c2-8229-2b5e0b49484b.png" class="mr-3 rounded-circle" style="width: 60px;">
			<div class="media-body">
				<b>Anonym</b>
				<p>{{ stat.text }}</p>
				<button class="btn btn-light" @click="likeStatus(index)">
					<span v-if="stat.like == true">&#9829</span>
					<span v-if="stat.like == false">&#9825</span>
				</button>
				
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
<script type="text/javascript" src="vuescript.js"></script>
</body>
</html>